@use '../abstracts' as *;

.page-title {
  text-align: center;
}

.chat {
  max-width: 35rem;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}
.chats {
  background: var(--form-background);
  padding: 2rem;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  &__item {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    background-color: var(--chats-item-background);
    span {
      cursor: pointer;
      padding: 0 0.5rem;
      background-color: var(--clr-primary-200);
      border-radius: 50%;
      color: var(--clr-common-white);
    }
  }

  form {
    text-align: center;
    display: flex;
  }
  input {
    font-style: italic;
    border-radius: 0;
  }
  .btn {
    flex: 0 0 15%;
    margin-top: 0;
  }
  &__item,
  input {
    padding: 0.5rem 1.5rem;
  }

  input,
  .btn {
    display: inline-block;
  }
}
.chats,
.chats * + * {
  margin-top: 1rem;
}

.error {
  color: red;
  background: pink;
  border: 1px solid red;
  padding: 0.5rem;
  margin: 10px 0;
}
